body {
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.search-container {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
}
.search-select {
    padding: 0.5rem 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}
.search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    padding-left: 2.5rem;
    margin-left: 0.5rem;
}
.search-icon {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #a0aec0;
}
.search-button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    color: #3b82f6;
    border: 1px solid #3b82f6;
    border-radius: 0.25rem;
}
.board-table {
    min-width: 100%;
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
}
.table-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e2e8f0;
}
.table-cell {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e2e8f0;
    text-align: center;
}
.table-link {
    color: #3b82f6;
}
.write-button {
    margin-top: 1rem;
    text-align: right;
}
.write-link {
    padding: 0.5rem 1rem;
    background-color: #3b82f6;
    color: white;
    border-radius: 0.25rem;
}
